VRUMigration/VRUMIgrationCheck/SOA/Schemas/EventTrigger.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/singleString" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="process">
    <complexType>
      <sequence>
        <element name="requestId" type="integer"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="result" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>