VRUMigration/VRUMIgrationCheck/SOA/WSDLs/EventConsumer.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="EventConsumer"
     targetNamespace="http://xmlns.oracle.com/VRUMigration/VRUMIgrationCheck/EventConsumer"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.oracle.com/VRUMigration/VRUMIgrationCheck/EventConsumer"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:ns1="http://xmlns.oracle.com/singleString"
    >
    <plnk:partnerLinkType name="EventConsumer">
        <plnk:role name="EventConsumerProvider" portType="client:EventConsumer"/>
        <plnk:role name="EventConsumerRequester" portType="client:EventConsumerCallback"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/VRUMigration/VRUMIgrationCheck/EventConsumer"
                 schemaLocation="../Schemas/EventConsumer.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/singleString" schemaLocation="../Schemas/EventTrigger.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EventConsumerRequestMessage">
        <wsdl:part name="payload" element="client:process"/>
    </wsdl:message>
    <wsdl:message name="EventConsumerResponseMessage">
        <wsdl:part name="payload" element="client:processResponse"/>
    </wsdl:message>
    <wsdl:portType name="EventConsumer">
        <wsdl:operation name="process">
            <wsdl:input message="client:EventConsumerRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="EventConsumerCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:EventConsumerResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
