VRUMigration/VRUMIgrationCheck/SOA/WSDLs/MediatorParse.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="MediatorParse"
     targetNamespace="http://xmlns.oracle.com/VRUMigration/VRUMIgrationCheck/MediatorParse"
     xmlns:tns="http://xmlns.oracle.com/VRUMigration/VRUMIgrationCheck/MediatorParse"
     xmlns:inp1="http://oagj.webservices"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:import namespace="http://oagj.webservices" location="VRUParsemigrationData.wsdl"/>
    <wsdl:message name="requestMessage">
        <wsdl:part name="request" element="inp1:VRUParseMigrationData"/>
    </wsdl:message>
    <wsdl:message name="callbackMessage">
        <wsdl:part name="callback" element="inp1:VRUParseMigrationDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="callback_ptt">
        <wsdl:operation name="callback">
            <wsdl:input message="tns:callbackMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
