VRUMigration/VRUMIgrationCheck/SOA/WSDLs/VRUParsemigrationData.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    
     targetNamespace="http://oagj.webservices"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
     xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
     xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
     xmlns:tns="http://oagj.webservices"
     xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://oagj.webservices"
             version="1.0">
            <xs:element xmlns:ns1="http://oagj.webservices" name="profileRequestImpl" type="ns1:profileRequestImplType"/>
            <xs:complexType name="profileRequestImplType">
                <xs:sequence>
                    <xs:element name="clientId" type="xs:string"/>
                    <xs:element name="username" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element xmlns:ns2="http://oagj.webservices" name="messageWithParams" type="ns2:messageWithParamsType"/>
            <xs:complexType name="messageWithParamsType">
                <xs:sequence>
                    <xs:element name="messageCode" type="xs:string"/>
                    <xs:element name="messageDescription" type="xs:string"/>
                    <xs:element xmlns:ns3="http://oagj.webservices" name="severity" type="ns3:severity"/>
                    <xs:element xmlns:ns4="http://oagj.webservices" maxOccurs="unbounded" minOccurs="0"
                         name="parameters" nillable="true" type="ns4:parameterObjectType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element xmlns:ns5="http://oagj.webservices" name="parameterObject" type="ns5:parameterObjectType"/>
            <xs:complexType name="parameterObjectType">
                <xs:sequence>
                    <xs:element name="parName" type="xs:string"/>
                    <xs:element name="parValue" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element xmlns:ns6="http://oagj.webservices" name="statusResponseWithMessage" type="ns6:responseWithMessageType"/>
            <xs:complexType name="responseWithMessageType">
                <xs:sequence>
                    <xs:element name="resultCode" type="xs:string"/>
                    <xs:element name="resultDescription" type="xs:string"/>
                    <xs:element xmlns:ns7="http://oagj.webservices" maxOccurs="unbounded" minOccurs="0"
                         name="messageWithParams" nillable="true" type="ns7:messageWithParamsType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element xmlns:ns8="http://oagj.webservices" name="VRUParseMigrationDataRequest" type="ns8:VRUParseMigrationDataType"/>
            <xs:complexType name="VRUParseMigrationDataType">
                <xs:sequence>
                    <xs:element xmlns:ns9="http://oagj.webservices" name="ctx" type="ns9:profileRequestImplType"/>
                    <xs:element name="requestId" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element xmlns:ns12="http://oagj.webservices" name="linkDetail" type="ns12:linkDetail"/>
            <xs:complexType name="linkDetail">
                <xs:sequence>
                    <xs:element name="pstnId" type="xs:decimal"/>
                    <xs:element name="linkAccount" type="xs:decimal"/>
                    <xs:element xmlns:ns13="http://oagj.webservices" name="status" type="ns13:linkStatusEnum"/>
                    <xs:element xmlns:ns14="http://oagj.webservices" minOccurs="0" name="linkCharacterization"
                         type="ns14:linkCharacterizationEnum"/>
                    <xs:element xmlns:ns15="http://oagj.webservices" minOccurs="0" name="linkLineTypeId"
                         type="ns15:linkLineTypeIdEnum"/>
                    <xs:element xmlns:ns16="http://oagj.webservices" maxOccurs="unbounded" minOccurs="0"
                         name="services" type="ns16:linkService"/>
                    <xs:element xmlns:ns17="http://oagj.webservices" maxOccurs="unbounded" minOccurs="0"
                         name="multiProductList" type="ns17:pbxCli"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element xmlns:ns18="http://oagj.webservices" name="linkService" type="ns18:linkService"/>
            <xs:complexType name="linkService">
                <xs:sequence>
                    <xs:element name="sncode" type="xs:decimal"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="status" type="xs:string"/>
                    <xs:element xmlns:ns19="http://oagj.webservices" maxOccurs="unbounded" minOccurs="0"
                         name="serviceParams" type="ns19:serviceParam"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element xmlns:ns20="http://oagj.webservices" name="serviceParam" type="ns20:serviceParam"/>
            <xs:complexType name="serviceParam">
                <xs:sequence>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element xmlns:ns21="http://oagj.webservices" name="pbxCli" type="ns21:pbxCli"/>
            <xs:complexType name="pbxCli">
                <xs:sequence>
                    <xs:element name="pbxId" type="xs:decimal"/>
                    <xs:element name="cli" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element xmlns:ns22="http://oagj.webservices" name="VRUParseMigrationDataResp" type="ns22:VRUParseMigrationDataResponseType"/>
            <xs:complexType name="VRUParseMigrationDataResponseType">
                <xs:sequence>
                    <xs:element xmlns:ns23="http://oagj.webservices" minOccurs="0" name="responseWithMessage"
                         type="ns23:responseWithMessageType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="severity">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="FATAL"/>
                    <xs:enumeration value="ERROR"/>
                    <xs:enumeration value="WARNING"/>
                    <xs:enumeration value="INFO"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="yesNo">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="N"/>
                    <xs:enumeration value="Y"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="cnEnum">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="N"/>
                    <xs:enumeration value="C"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="linkCharacterizationEnum">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="linkLineTypeIdEnum">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="linkStatusEnum">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="s"/>
                    <xs:enumeration value="p"/>
                    <xs:enumeration value="o"/>
                    <xs:enumeration value="d"/>
                    <xs:enumeration value="b"/>
                    <xs:enumeration value="a"/>
                </xs:restriction>
            </xs:simpleType>
            <xsd:element name="VRUParseMigrationData">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="tns:VRUParseMigrationDataRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="VRUParseMigrationDataResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="tns:VRUParseMigrationDataResp"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="VRUParseMigrationDataRequest">
        <wsdl:part name="parameters" element="tns:VRUParseMigrationData"/>
    </wsdl:message>
    <wsdl:message name="VRUParseMigrationDataResponse">
        <wsdl:part name="parameters" element="tns:VRUParseMigrationDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="VRUParseMigrationData">
        <wsdl:operation name="VRUParseMigrationData">
            <wsdl:input name="VRUParseMigrationDataRequest" message="tns:VRUParseMigrationDataRequest"/>
            <wsdl:output name="VRUParseMigrationDataResponse" message="tns:VRUParseMigrationDataResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VRUParseMigrationDataRemoteHttpBinding" type="tns:VRUParseMigrationData">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="VRUParseMigrationData">
            <wsdlsoap:operation soapAction="urn:VRUParseMigrationData"/>
            <wsdl:input name="VRUParseMigrationDataRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="VRUParseMigrationDataResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VRUParseMigrationDataRemote">
        <wsdl:port name="VRUParseMigrationDataRemoteHttpPort" binding="tns:VRUParseMigrationDataRemoteHttpBinding">
            <wsdlsoap:address location="http://localhost/services/VRUParseMigrationDataRemote"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
